
.DS_Store

*.sublime-project

*.sublime-workspace

*.cmi

*.cmo

tests/scanner/testScanner

tests/scanner/scanner.ml

tests/parser/parserize

compiler/parser.ml

compiler/parser.mli

compiler/scanner.ml

compiler/_build

tests/scanner/tokenize

compiler/circline.native

compiler/pig
